<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Планировщик задач</title>
        <link rel="stylesheet" href="/static/style.css">
        
        <script src="https://cdn.jsdelivr.net/npm/chroma-js@2.1.0/chroma.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
        
        <script type="module" src="{{ url_for('static', path='/main.js') }}"></script>

    </head>
<body>
    <div id="resize-warning" class="resize-warning">
        <p>Для нормальной работы сайта необходимо большее разрешение экрана.</p>
    </div>
    

    <div class="main-container">
        <div class="top-blocks">
            <div class="top-block">
                <div class="top-block-content">
                    <p style="font-weight: bold; font-size: 30px;"><span id="total-tasks">0</span></p>
                    <p class="last-updated">Последнее обновление: <span id="last-updated">неизвестно</span></p>
                </div>
            </div>
            <div class="top-block">
                <div class="top-block-content">
                    <p style="font-weight: bold; color: rgb(71, 245, 71); font-size: 30px;"><span id="completed-tasks">0</span> выполнено</p>
                    <p class="remaining-tasks">Осталось выполнить: <span id="remaining-tasks">0</span> задач</p>
                </div>
            </div>
        </div>

        <div class="task-container">
        </div>
        
        <div class="statistics-container">
        </div>

        <div class="button-container">
            <button id="add-task" class="task add-task">Добавить задачу</button>
            <button id="showCompleted" class="task add-task">Показать выполненные</button>
        </div>
    </div>

    <div id="task-modal" class="modal hidden">
        <div class="modal-content">
            <p style="font-weight: bold;">Добавление задачи</p>
            <input type="text" id="task-title" placeholder="Название задачи" maxlength="30">
            <textarea id="task-desc" placeholder="Описание задачи" maxlength="500"></textarea>
        
            <label for="task-date">Срок выполнения:</label>
            <input type="date" id="task-date">
        
            <div class="color-picker">
                <span>Цвет задачи:</span>
                <input type="color" id="task-color" class="color-input" style="width: 100%;" />
            </div>
        
            <button id="save-task">Добавить задачу</button>
            <button id="close-task-modal" class="close-btn">Закрыть</button>
        </div>
    </div>
    

    <div id="task-detail-modal" class="modal hidden">
        <div class="modal-content">
            <h3 id="detail-title"></h3>
            <p id="detail-desc"></p>
            <p><strong>Срок сдачи:</strong> <span id="detail-date"></span></p>
            <button id="delete-task">Отметить как выполненное</button>
            <button id="close-detail">Закрыть</button>
        </div>
    </div>

    <div class="chart-outer-container">
        <h1>Лента заданий</h1>
        <div class="chart-container">
            <canvas id="taskChart"></canvas>
        </div>
    </div>

</body>
</html>
