body {
    font-family: Arial, sans-serif;
    background-color: #212121;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.top-bar {
    background-color: #171717;
    padding: 15px 0;
    text-align: center;
}

.top-bar ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}

.top-bar li {
    display: inline;
    font-size: 18px;
    cursor: pointer;
}

.main-container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.task-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: #303030;
    border-radius: 10px;
}

.task {
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    min-width: 100px;
    max-width: 150px;
    flex: 1 1 calc(20% - 10px);
    background: #1e1e1e;
    color: white;
    cursor: pointer;
}

button {
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal.hidden {
    display: none;
}

.modal-content {
    background: #333;
    padding: 20px;
    border-radius: 5px;
}

input[type="text"],
textarea,
input[type="color"],
input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #555;
    color: white;
    text-align: center;
}

input[type="text"]:focus,
textarea:focus,
input[type="color"]:focus,
input[type="date"]:focus {
    outline: none;
    border-color: #28a745;
}
